fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
openpyxl
httpx
bcrypt
Pillow
aiofiles
qrcode[pil]
psycopg2-binary
